# Ignore large database file
test.db

# Ignore git objects (Git's internal storage)
.git/objects/
.git/objects/pack/

# Ignore node_modules
node_modules/

# Ignore faker package files inside node_modules (if necessary)
node_modules/faker/
node_modules/@faker-js/

# Environment Variables
.env

# OS Files
.DS_Store
Thumbs.db

# Build Files
dist/
build/

# IDE Specific
.vscode/
.idea/

# Temporary Files
*.swp
*.tmp
*.bak
*.backup
